body {
    background: #E5E5E5;
}

#sombra {
    background: #F4F6F8;;
    margin: 6% 0 6% 0;
    border-radius: 8px;
    padding: 3% 4% 3% 5%;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

#text-error {
    display: flex;
    align-self: center;
    padding: 2%;
}

#contiene-registro {
    width: 80%;
    height: 80%;
    margin-bottom: 5%;
}
div.mail .mail1 input, div.mail .mail2 input {
    color: #696158;
}

div.mail .mail1 input::placeholder,
 div.mail .mail2 input::placeholder {
    color: #666666
}