#container-login{
    background-color: #F3F3F2;
    height: 70%;
}

#container-login .container{
    display: flex;
    width: 100%;
}

#container-login .form-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 5%;
    margin-left: 15%;
}

#container-login .form-container>div{
    text-align: center;
    width: 398px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#container-login .form-container h2{
    color: #FF4F00;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 32px;
    line-height: 28px;
    letter-spacing: -0.00615385em;
}

#container-login .form-container p{
    color: #696158;
    font-size: 20px;
    line-height: 20px;
}

#container-login .form-container .card-form{
    background-color: #fff;
    box-shadow: 5.67346px 3.78231px 14.1837px rgba(187, 187, 187, 0.2);
    border-radius: 17.0204px;
    margin: 2rem 0;
    height: 369px;
    width: 312px;
    padding: 29px 26px 29px 29px;
}
}

#container-login .form-container .card-form form{
    padding: 2.8rem;
}

#container-login .form-container .card-form form select, #container-login .form-container .card-form form input{
    width: 100%;
    background-color: #F4F6F8;
    border-radius: 5.99683px;
    height: 50px;
    margin-bottom: 2rem;
    border: none;
    outline: none;
    padding: 15px 15px 15px 45px;
    font-family: Calibri;
    font-size: 16px;
    line-height: 20px;
}

#container-login .form-container .card-form form input{
    width: 100%;
    font-family: Calibri;
    font-size: 16px;
    line-height: 20px;
    color: #696158;
    box-shadow: none;
    box-sizing: border-box !important;
    transition: all 0.25s ease-out;
}

#container-login .form-container .card-form form input::placeholder{
    color: #9F9F9F;
}

#container-login #tipoDocumento{
    background: #F4F6F8 url(../assets/images/dni.svg) no-repeat 14px 10px;
    background-position: center left 1rem;
    height: 48px;
    width: 256px;    
    color: #9F9F9F;
}

#container-login #numeroDocumento{
    background: #F4F6F8 url(../assets/images/candado.svg) no-repeat 14px 10px;
    background-position: center left 1rem;
    height: 38px;
    width: 256px;
}

#container-login #fechaNacimiento{
    background: #F4F6F8 url(../assets/images/cumpleaños.svg) no-repeat 14px 10px;
    background-position: center left 1rem;
    height: 38px;
    width: 256px;
}

#img-container img {
    height: 500px;
}

#container-login .form-container .card-form form button{
    width: 100%;
    height: 39px;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #fff;
    background-color: #ff4f00;
    border: solid 0px transparent;
    border-radius: 7.1962px;
    transition: all 0.25s ease-out;
    cursor: pointer;
}

#captcha {    
    width: 100%;
    height: 60px;   
}

#myBtn {
    width: 100%;
    height: 39px;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-decoration-style: none;
    color: #fff;
    background-color: #ff4f00;
    border: solid 0px transparent;
    border-radius: 7.1962px;
    transition: all 0.25s ease-out;
    cursor: pointer;

}
