body{
    font-family: Calibri, FS Emeric;
    color: #666666;
}

header{
    background: #FF4F00;
    width: 100%;
    height: 96.89px;
    left: 0px;
    top: 0px;
}

header.navbar{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.hashtag{
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    color: #FFFFFF;
}

div a img.logo {
    width: 149px;
    height: 61px;
    left: 210.18px;
    top: 17.89px;
}

p b.hashtag {
    left: 75.86%;
    right: 11.02%;
    top: 30%;
    bottom: 93%;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    color: #FFFFFF;
}

section div.form-retiro {
    width: 1037.42px;
    height: 893px;
    left: 15%;
    top: 158px;
    background: #ffffff;
    box-shadow: 0px 2.40333px 41.2743px rgba(0, 0, 0, 0.04);
    border-radius: 20.6371px;
    position: absolute;
}

div.part1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


div.text-name p{
    color: #696158;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin-top: 3%;    
    display: flex;
    justify-content: center;
}

div.monto-retiro {
    background: rgba(105, 97, 88, 0.05);
    border-radius: 12px;
    width: 703px;
    height: 94px;    
    display: flex;
    justify-content: center;
}

div.monto-retiro p{
    color: #00AE99;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

div.text-indicador p{
    color: #696158;
    font-family: Calibri;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
}

hr.divide {
    border: dashed  rgba(0, 0, 0, 0.1);;
    width: 90%;   
}

div.part2 form {
    width: 70%;
    margin: 0 auto;
}

form div.monto-retiro-edit{    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.part2 .item-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.part2 input.monto, input.porcentaje, input.monto-referencial, div.item-input-check div.check-text{
    border: none;
    border-radius: 6px;
    background: #F7F7F6;
    width: 334px;
    height: 62px;
    text-align: center;
}

div.item-input label {
    color: #696158;
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
}

div.item-input-check div.check-text {
    display: inline-block;
}

div.part2 input::placeholder{
    color: rgba(105, 97, 88, 0.24);
}

div.monto-retiro-edit input.monto::placeholder {
    color: #00AE99;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 29px;
}

div.item-input input.check-text {
    background: #FFFFFF;
    border: 3px solid #696158;
    box-sizing: border-box;
    border-radius: 6px;
    width: 23px;
    height: 23px;
    display: inline;
}

div.item-input-check input.texto::placeholder {
    color: #656565;
    border: none;
    background:  #F7F7F6;;
}


div.item-input input.porcentaje::placeholder, input.monto-referencial::placeholder {
    color: rgba(105, 97, 88, 0.24);
    font-weight: 600;
    font-size: 26px;
    line-height: 29px;
}

div.btn-confirmar {
    display:flex;
    justify-content: center;
}
div button.confirmar {
    border: none;
    border-radius: 6px;
    background: #FF4F00;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 24px;
    width: 168.65px;
    height: 44.64px;
}