*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #666666;
    font-family: Calibri;
}

header{
    background: #FF4F00;
    height: 96.89px;
}

header .navbar{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .hashtag{
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    color: #FFFFFF;
}

/* 
section div.form-retiro {
    position: absolute;
    width: 1037.42px;
    height: 893px;
    left: 15%;
    top: 158px;
    background: #000000;
    box-shadow: 0px 2.40333px 41.2743px rgba(0, 0, 0, 0.04);
    border-radius: 20.6371px;
}

div.part1 {
    background: red;
} */