#card-error {
    background: #ffffff;
    box-shadow: 0px 2.40333px 41.2743px rgba(0, 0, 0, 0.04);
    border-radius: 20.6371px;
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 20%;
    top: 15%;
    position: absolute;
    height: 80%;
    width: 60%;
    justify-content: space-around;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 78%;
    font-size: 15px;
}

div button.entendido {
    border: none;
    border-radius: 6px;
    background: #FF4F00;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    width: 155px;
    height: 40px;
    margin-top: 8%;
    font-family: Calibri;
}
#texto-aviso {
    width: 85%;
}

#texto-aviso ul {
    list-style: none;
}

#texto-aviso ul li{
    line-height: 20px;
    margin-bottom: 5px;
    font-size: 17px;
    font-family: Calibri;

}

div.text-aviso {
    font-family: FS Emeric;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    margin-left: 0%;
}

#sombra {
    display: flex;
    background: #F4F6F8;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    width: 70%;
    align-items: center;
    place-items: flex-end;
    margin-top: 8%;
}

#text-error {
	margin-top: 3%;
	margin-bottom: 0%;
	margin-right: 20px;
}

#text-error p.title {
    color: #00AE99;
    font-size: 24px;
    font-family: 'FS Emeric';
    margin-bottom: 5px;
}

#text-error p.subttitle {
    color: #00AE99;
    font-size: 17px;
    font-family: Calibri;
}

#img-error {
    display: flex;
    align-self: center;
    margin-left: auto;
} 

#img-error img {
    width: 60px;
    height: 70px;
    
}



#text-error p {
    width: 85%;
    margin-left: 5%;
}


#texto-indicador {

    width: 75%;
    line-height: 25px;
    margin-top: 30px;
    margin-bottom: 9px;
    font-family: Calibri;
    font-size: 17px;
 

    }


#texto-indicador ul li {

margin-bottom: 7px;
line-height: 20px;
}


#contenido .form-retiro .mensaje {
	width: 90%;
    padding-top: 0%;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0%;
	height: 28%;
	margin-top: 0%;
}
