body {
    background: #f3f3f3;;
}
#card {
    box-shadow: 5.67346px 3.78231px 14.1837px rgba(187, 187, 187, 0.2);
    border-radius: 16px;
    background: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 75%;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 18%;
}

div.mensaje {
    background: #F7F7F6;
    border-radius: 12px;
    display: flex;
    align-items: center;
    height: 25%;
    width: 75%;
    margin-top: 8%;
}

#card .img-cliente {
    width: 50%;
    height: 70%;
    margin-left: 5%;
    margin-top: 4%;
}

div.msj-cliente p{
    color: #00AE99;
    font-size: 24px;
    font-family: FS Emeric;
    margin-bottom: 10px;
}

div.verificacion {
    font-size: 17px;
    font-family: calibri;
    width: 90%;
}

div.ingresa-datos {
    display: flex;
    flex-flow: column;
    align-content: center;
    width: 70%;
}

div.ingresa-datos div p{
    color: #696158;
    font-size: 16px;
    font-weight: 600;
    line-height: 3em;
    text-align-last: center;
    margin-bottom: 3px:
}

div.item-input1 input {    
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background: #F9F9F9;
    border: 1.5px solid #C0C0C0; 
    text-align: center;
    font-size: 17px;
    font-family: Calibri;
    color: #696158;  
}

div.item-input1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 22% 0 22%;

}

#btns {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: -webkit-center;
}

#btns .validar{
    border: none;
    border-radius: 6.5px;
    background: #FF4F00;
    color: #FFFFFF;
    font-size: 18px;
    width: 160px;
    height: 37px;
    text-align-last:center;
}

#btns a {
    color: #FF4F00;
}