body {
	background: rgba(0, 0, 0, 0.56);
	font-family: Calibri, FS Emeric;
	margin-top: 0px;
}

#contenido {
    background: #E5E5E5;
}

#contenido .form-retiro {
    display: flex;
    align-items: center;
    flex-direction: column;    
    height: 70%;
    width: 50%;
    left: 25%;
    top: 20%;
    padding: 0 2em 0 2em;
}

#contenido .form-retiro .mensaje{
	width: 65%;
	height: 35%;
	background: #F4F6F8;
	border-radius: 8px;
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
	display: flex;
	align-items: center;
	margin: 10% 8% 0 8%;
}

div.img-cliente  {
    margin-left: 8%;
}

div.img-cliente img {
    width: 65px;
    height: 65px;
}

div.msj-cliente {
}

div.mensaje div.msj-cliente p.title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    width: 14em;
    display: flex;
    color: #00AE99;
    font-family: FS Emeric;
}

div.msj-cliente p.subtitle {
    font-size: 17px;
    width: 95%;
}

form.form-montos div.item-input{    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.item-input input {
	width: 334px;
	height: 62px;
	border-radius: 12.1712px;
	border: none;
}

div.item-input label {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #656565;
    width: 14em;
}

div.item-input input::placeholder{
    color: #00AE99;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
}

form.form-montos div.btns{
	display: flex;
	justify-content: space-around;
	line-height: 4pc;
}

div.btns button {
    border: none;
    border-radius: 6px;
    background: #FF4F00;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 24px;
    width: 168.65px;
    height: 44.64px;
}
